HP_BOT_TOKEN=replace_with_your_telegram_bot_token
HP_ADMIN_ID=replace_with_your_numeric_telegram_id
HP_BINANCE_PAY_ID=replace_with_your_binance_pay_id
HP_MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
HP_MONGODB_DB=heavenprem
HP_WEBHOOK_SECRET=replace_with_a_long_random_secret
HP_BINANCE_API_KEY=replace_with_a_read_only_api_key
HP_BINANCE_API_SECRET=replace_with_your_secret_key
HP_BINANCE_API_BASE=https://api.binance.com
HP_PAY_CURRENCY=USDT
